            "type": "array",
            "minItems": 1,
            "items": {
                "type": "string",
                "pattern": "^[A-Za-z0-9',\\.\\-]*$"
            },
            "example": [
                "Robertson,G.R.",
                "Mishima,H."
            ],
            "help": "Keyword for the data division. Optional. For example, WGS, TSA, GSS, EST, etc."
