            "title": "Keyword",
            "type": "array",
            "items": {
                "enum": [
                    "WGS",
                    "STANDARD_DRAFT",
                    "HIGH_QUALITY_DRAFT",
                    "IMPROVED_HIGH_QUALITY_DRAFT",
                    "NON_CONTIGUOUS_FINISHED",
                    "TSA",
                    "Transcriptome Shotgun Assembly",
                    "ENV",
                    "MAG",
                    "Metagenome Assembled Genome"
                ]
            },
            "uniqueItems": true